@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,h7,dd,p,ul,li,ol,dl,form,input,textarea{margin:0; padding:0;}
body,button,input,select,textarea { font:12px \5b8b\4f53,arial,sans-serif;font-family: "Lucida Sans Unicode","Lucida Grande", Tahoma,Arial, Helvetica, sans-serif}
.yahei{	font-family:"\5FAE\8F6F\96C5\9ED1";}
h1, h2, h3, h4 {font-family:"\5FAE\8F6F\96C5\9ED1";font-weight: normal;}
*::selection {background:#ffc000;color: #FFFFFF;text-shadow: none;}
a{ color:#22132D; text-decoration:none;}
a:hover{ color:#F00; text-decoration:none;}
table{border-collapse:separate;border-spacing:0;}
a img{border:0;}
ul li{list-style:none;}
pre{
white-space:pre-wrap;
white-space:-moz-pre-wrap;
white-space:-pre-wrap;
white-space:-o-pre-wrap;
word-wrap:break-word;
overflow: auto;
}

.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;} 
.clearfix{zoom:1;}
.right{ float:right;}

/*lanyout*/
body{ background:#ffffff;}
.cont{ width:1000px; margin-right:auto; margin-left:auto; position:relative;font-family:"\5FAE\8F6F\96C5\9ED1";}
#all{ margin:0 auto; background:url(../images/line.png) repeat-x #FFFFFF; width:1002px; position:relative;
-webkit-box-shadow: #666 0px 3px 6px;
-moz-box-shadow:#666 0px 3px 6px;
box-shadow: #666 0px 3px 6px;}
#header-bg{ background: #fff url(../images/bg.jpg) repeat-x top;}
#header{ position:relative; border-top:1px solid #efefef;}
#top{ position:absolute; top:25px; right:10px;}
#logo{ position:absolute; left:10px; top:18px;}
#theme{font-family: simsun; position: absolute; right: 10px;}
#logo img {width: 195px;}
#searcher{ position:absolute; top:45px; right:10px;}
#searcher input{ line-height:28px; height:28px; vertical-align:top; border:1px solid #B1B1B1; border-right:0 none; width:150px;}
#searcher button{ width:39px; height:30px; border:0 none; vertical-align:top; *margin-top:1px;color:#fff;font-size: 16px;}
#notice{padding-left: 5px;  padding-right: 5px;}
#notice:hover{  color: #fff;}
#notice i.fa {  padding-left: 5px;}
#noticeMore{position:absolute;  z-index:200; padding:5px; /* border:1px solid #CCC; */ line-height:2em; left:0; top:17px; display:none;font-size: 13px;margin-top:-1px;}
#noticeMore li a {  padding: 10px;}
#nav{ margin-top:102px; border-top:1px solid #dedede;}
#nav table{ width:100%;}
#nav table td{ text-align:center; font-size:15px; font-family:"\5FAE\8F6F\96C5\9ED1"; height:48px; line-height:48px; border:2px solid #FFF; border-left:0 none; border-right:0 none;}
#nav table td a{ display:block; margin:0 auto; text-align:center; width:90px;}

#nav table td .mask-line{ display:none;}
#nav table td ul{ position:absolute; z-index:60; line-height:35px; padding-bottom:5px; margin-left:-1px; display:none;}
#nav table td:last-child ul {right: 0;}
#nav table td ul li{ margin:5px; width:130px;}
#nav table td ul li:hover a{ color:#FFF;}
#nav table td ul li a{ text-align:left; width:auto; padding-left:10px;font-size:14px;}
#nav table td .mask-line{ display:none; position:absolute; z-index:9999; background:#fff; margin-top:-5px; margin-left:-1px;}
#nav table td .fa{ padding-left:5px;}

#banner{ position:relative; height:376px; max-width:1200px; margin-left:auto; margin-right:auto;}

#headline{ padding:35px; line-height:34px; background-color: red; margin: 0 auto;/*background:url(../images/headline.png) center bottom no-repeat;*/}
#headline img { margin: -20px 20px;  width: 70px;}
#headline h1{ text-align:center; font-size:34px;  color: yellow;}
#headline h2{ text-align:center; font-size:16px; font-weight:normal;}
#headline a { color: yellow;}
#headline a:hover { color: white;}

#main{ width:1002px; margin:0 auto;}
.hotNewstitle{margin: 10px;font-size: 20px;padding-bottom: 7px;border-bottom: 2px solid #e0823d;}
.hotNews,.newslist{ display:inline-block; *zoom:1;*display:inline; width:33%; vertical-align:top;  list-style: none;}
.hotNews h3{ margin:0 10px 5px; font-size:16px; line-height:24px;}
.hotNews p{ margin:10px 10px 15px;; color:#777; line-height:20px;}
#main hr{border:0 none;background-color:#ddd;height:1px; color:#ddd;margin: 20px 0;}
.newslist dt,.newslist h3{ margin:10px;  font-size:20px;}
.newslist dd{ line-height:26px; margin-left:10px;}
.newslist li{ margin:0 5px 11px 10px; height:61px; font-size:12px;}
.newslist .date{ width:60px; height:61px; text-align:center; font-family:Arial, Helvetica, sans-serif; float:left; margin-right:15px;}
.newslist .date p{ font-size:24px; line-height:38px;}
.newslist h4{ font-size:14px; line-height:20px; display:inline;}
.newslist p{ color:#777777; padding-top:3px; line-height:18px;}
.more{float: right;margin: 10px 30px 0 0;}
.more a{color:#777777;}
.rmore{float: right;line-height:38px;}
.w2-3{width:66%;}

#links{ padding-bottom:20px;}
#fastlinks{ display:inline-block; *zoom:1;*display:inline; width:55%; vertical-align:top;padding-top: 15px;}
#fastlinks h3{  font-size:18px; margin:10px; border-bottom:1px solid #CDCCC8; padding:5px 0;}
#fastlinks li{ display:inline-block; *zoom:1;*display:inline; width:32%; vertical-align:top; height:30px;font-size: 13px;}
#fastlinks li a{ line-height:20px; margin-left:15px;}

#topiclinks{ display:inline-block; *zoom:1;*display:inline; width:39%; vertical-align:top; margin-left:4%;margin-top: 25px;font-size: 16px;}
#topiclinks li{ display:inline-block; *zoom:1;*display:inline; width:49%; vertical-align:top;/* padding:10px 0;*/}
.sub img{margin: 5px 5px;}
.pic img{width: 180px;}

#applinks li{ display:inline-block; *zoom:1;*display:inline; width:24.5%; vertical-align:top; font-size:16px; padding-top:20px;}
#applinks li img{ width:30px; height:30px; margin-right:12px; margin-top:-2px;}
#applinks li a{ margin-left:12px;}
#applinks li *{ vertical-align:middle;}

#bottomNav{ background:#e0e0e0; padding:40px 0;}
#bottomNav dl{ display:inline-block; *zoom:1;*display:inline; width:14%; vertical-align:top; text-align:center;}
#bottomNav dt a{ color:#22132d; font-size:15px; line-height:34px;}
#bottomNav dd a{ color:#585858; line-height:24px;}
#bottomNav dl a:hover{color:#4F608C;}

#footer{ padding:20px 0; color:#eee; line-height:22px;font-size: 1.2em;}
#icp{ float:right; margin-right:20px;}
.mob{display:none;}
.info{float:left;}
.info span{padding-right:10px;}
.info span a{color:#ddd;padding-left:10px;}

#maintab{ position:absolute; z-index:100; width:100%;}
#maintab li{ background:#FFF; min-height:150px; position:absolute; width:100%;
-webkit-box-shadow:0 20px 20px rgba(0,0,0,0.5);-moz-box-shadow:0 20px 20px rgba(0,0,0,0.5);box-shadow:0 20px 20px rgba(0,0,0,0.5);}


#mobile-nav{ display:none;}
@media screen and (min-width:1140px){/*宽屏*/
	#main,.cont{ width:1002px;}
	#all{width:auto;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	#headline{   width: 1130px; }
}

@media screen and (max-width:800px){/*移动*/
	body{ font-size:14px;}
	#main,.cont{ width:auto;}
	#all{width:auto;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	#top,#nav{ display:none;}
	#header{ border-bottom:2px solid #CA5100;}
	#logo{ display:block; position:static; text-align:center; padding:10px; background:-webkit-gradient(linear,center top,center bottom,from(#eee), to(#fff));background:linear-gradient( top,#eee,#fff); }
	#searcher{ position:static; height: 35px;padding-top: 5px; text-align:center; margin-top:7px;}
	#searcher button{ background:url(../images/searchBtnLight.png);}
	#theme{display:none;}
        .w2-3{width:100%}
#headline h1{line-height: 40px;}
	#banner{display:none;}
	#fastlinks ul{-webkit-writing-mode:vertical-lr;writing-mode:vertical-lr; height:150px;}
	#fastlinks li{-webkit-writing-mode:horizontal-tb;writing-mode:horizontal-tb;}
	#fastlinks,#topiclinks{ width:98%;}
	#fastlinks li,#applinks li{ width:49%;}
	#applinks li{ font-size:12px;}
	#applinks li img{ width:24px; height:24px; margin-right:5px;}
	#footer{ padding:15px 0; font-size:12px;}
	#footer table{ width:95%;}
	#icp{ float:none; margin-right:0;}
	.newslist .date{margin-right:3%;}
	.mob{display:block;}
	.pc{display:none;}
.info{float:none;display:block;}
.info span{display:block;}
	.iframettgz{height: 90px;}
	
	#mobile-nav{position:fixed; width:45%; display:block; z-index:4; height:100%; left:-45%; transition:all ease .5s; -moz-transition:all ease .5s; -webkit-transition:all ease .5s; -o-transition:all ease .5s; -ms-transition:all ease .5s; background:#FFF;}
	#mobile-nav.open{left:0;}
	#call-mbnav{position:absolute; left:100%; top:0; height: 25px;width: 25px;padding: 5px 5px 6px 6px; border-radius:5px; opacity: 0.8;font-size: 27px;}
	#call-mbnav:hover{animation:call-mbNav .2s linear 2; -moz-animation:call-mbNav .2s linear 2; -webkit-animation:call-mbNav .2s linear 2; -ms-animation:call-mbNav .2s linear 2; -o-animation:call-mbNav .2s linear 2;}
	#call-mbnav span{box-shadow:2px 5px 0 2px #FFFFFF, 2px 15px 0 2px #FFFFFF, 2px 25px 0 2px #FFFFFF; display:block;}
	#call-mbnav i{color:#FFFFFF;}
	#mobile-nav ul{ margin:10px;max-height:100%; overflow-y:auto; overflow-x:hidden; line-height:35px; }
	#mobile-nav ul li{border-bottom:1px solid #EEE;}
	#mobile-nav ul li ul li{border-bottom:0 none; line-height:30px;}
	
	#bottomNav dl{ width:100%;}
	#bottomNav{ display:none;}
	
}

@media screen and (max-width:400px){/*移动*/
	#topiclinks{ margin-left:0; text-align:center;margin-top: 0;font-size: 12px;}
	.pic img{width: 120px;}
}

@keyframes call-mbNav{
	0%   {transform:rotate(0deg);}
	25%  {transform:rotate(10deg);}
	50%  {transform:rotate(0deg);}
	75%  {transform:rotate(-10deg);}
	100% {transform:rotate(0deg);}	
}
@-moz-keyframes call-mbNav{
	0%   {-moz-transform:rotate(0deg);}
	25%  {-moz-transform:rotate(10deg);}
	50%  {-moz-transform:rotate(0deg);}
	75%  {-moz-transform:rotate(-10deg);}
	100% {-moz-transform:rotate(0deg);}	
}
@-webkit-keyframes call-mbNav{
	0%   {-webkit-transform:rotate(0deg);}
	25%  {-webkit-transform:rotate(10deg);}
	50%  {-webkit-transform:rotate(0deg);}
	75%  {-webkit-transform:rotate(-10deg);}
	100% {-webkit-transform:rotate(0deg);}	
}
@-o-keyframes call-mbNav{
	0%   {-o-transform:rotate(0deg);}
	25%  {-o-transform:rotate(10deg);}
	50%  {-o-transform:rotate(0deg);}
	75%  {-o-transform:rotate(-10deg);}
	100% {-o-transform:rotate(0deg);}	
}
@-ms-keyframes call-mbNav{
	0%   {-ms-transform:rotate(0deg);}
	25%  {-ms-transform:rotate(10deg);}
	50%  {-ms-transform:rotate(0deg);}
	75%  {-ms-transform:rotate(-10deg);}
	100% {-ms-transform:rotate(0deg);}	
}
/*顶部通知CSS*/
.top_notice{ width:100%; height:50px; background:#f7ad29;}
.top_noticeIn{width:1000px; height:50px; margin:0 auto; display:block; float:left; }
.top_noticeOut{width:30px; height:50px; margin:0 auto; float:left;}
.top_notice ul{ list-style:none;}
.top_notice ul li{ line-height:40px; float:left; color:#fff; height:50px;overflow: hidden;}
.top_notice ul li.top_notice-li1{ padding:9 0px;}
.top_notice ul li.top_notice-li1 img{ padding:9px 10px;width:25px; padding-left:120px;}
.top_notice ul li.top_notice-li2{ width:660px; font-size:18px; padding-top:7px;}
.top_notice ul li.top_notice-li2 a{color:#fff;}
.top_notice ul li.top_notice-li2 a:hover{ cursor:pointer;}
.top_notice ul li.top_notice-li3{ width:136px; font-size:14px;}
.top_notice ul li.top_notice-li4{ width:40px;}
.top_notice ul li.top_notice-li4 img{ padding:5px 0px; width:40px;}
.top_notice .btn_close2{ width:23px; height:23px; position:absolute; top:9px; right:5px; cursor:pointer;}